<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Tweetmail Server</title>
</head>
<body id="index">
	<center>
		<h2>Twitter Mail Signup</h2>
		<form action="/" method="post" accept-charset="utf-8">
			<p><lable>Twitter Name:<input type="textfield" name="user_name"></lable></p>
			<p><lable>Dest. Email:<input type="textfield" name="email"></lable></p>
			<p><input type="submit" value="Continue &rarr;"></p>
		</form>
	</center>
</body>
</html>
